body {
    background-color: #E4F9F5;
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
}
.wrapper{
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.container {
    background-color: #30E3CA;
    height: 600px;
      width: 80%;
      display: block;
      margin: 5% auto;
      border-radius: 10px;
}
#title{
    color: white;
    font-size: 3.5rem;
    padding: 3% 0;
}
  .alpha {
    width: 2rem;
    height: 2rem;
    background: #ffe5b4;
    border: none;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
  }
  .alpha:hover {
    background-color: #e75480;
    border: none;
  }
  .disabled {
    pointer-events: none;
    background-color: darkgray;
  }
  
  .word-div {
    display: inline-flex;
  }
  .word {
    margin-right: 1.5rem;
  }
  .blur {
    filter: blur(2px);
  }
  .hidden {
    display: none;
  }
  .figure-container{
    fill: transparent;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;

}
.figure-rope, .figure-head, .figure-body, .figure-arms, .figure-legs {
    display: none;
}